{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"]
    },
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}